$main-bg: #fff;
$second-bg: #242424;
$main-color: #4267b2;

$txt-main-color: #242424;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$mobile-width: 570px; //600px
$tablet-width: 870px; //1024px
